/* Chrome / Edge / Safari */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
	@apply text-md font-semibold;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: black !important;
	transition: background-color 99999s ease-in-out 0s;
}

/* Text inputs */
.form-input {
	@apply bg-white font-semibold w-full border-thin border-solid border-black;
	@apply placeholder:font-semibold placeholder:text-black;
	@apply focus:ring-0 focus:outline-none;
}

.form-input--sm {
	@apply text-md min-h-30 px-10;
	@apply placeholder:text-md;
}

.form-input--lg {
	@apply text-lg min-h-50 px-20;
	@apply placeholder:text-lg;
}

.form-input.has-error {
	@apply bg-red border-red text-white placeholder:text-white;
}

/* Buttons */
.form-button {
	@apply cursor-pointer flex items-center gap-x-10 font-semibold text-md text-gray min-h-30 border-thin border-gray bg-white w-full;
	@apply hover:bg-navy hover:text-white hover:border-navy transition-colors duration-150;
}

.form-button--primary {
	@apply bg-navy border-white text-white hover:bg-white hover:text-navy hover:border-white;
}

.form-button--secondary {
	@apply bg-navy border-slate text-slate hover:border-white hover:text-white hover:bg-navy;
}

.form-button--danger {
	@apply bg-red border-white text-white hover:bg-white hover:text-red hover:border-white;
}

.form-button--danger-outline {
	@apply bg-red text-crimson border-crimson hover:border-white hover:text-white hover:bg-red;
}