/* Chrome / Edge / Safari */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
	@apply text-md font-semibold;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: black !important;
	transition: background-color 99999s ease-in-out 0s;
}

/* Text inputs */
.form-input {
  @apply bg-white text-md font-semibold w-full min-h-30 px-10 border-thin border-solid border-black;
  @apply placeholder:text-md placeholder:font-semibold placeholder:text-black;
  @apply focus:ring-0 focus:outline-none;
}

/* State */
.form-input.has-error {
  @apply bg-red border-red text-white placeholder:text-white;
}

/* Buttons */
.form-button {
	@apply cursor-pointer flex items-center gap-x-10 font-semibold text-md text-gray min-h-30;
	@apply border-thin border-gray bg-white w-full text-left;
	@apply hover:bg-navy hover:text-white hover:border-navy;
	@apply transition-colors duration-150;
}